/* リセットCSS */
* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* アコーディオンメニュー全体のサイズ・位置 */
  .p-gnavi__main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* クリック領域 */
  .p-gnavi__main-list {
    position: relative;  /*相対位置への配置*/
    /* height: 50px; */ /*p-gnavi__main-listに対して高さしない*/
    border-bottom: 1px solid #FFF;  /*親と子の間に少し線が入る*/
    background-color: #FFF;
    color: #121212;
    text-align: left;
    line-height: 50px;
    cursor: pointer;  /*リンクカーソル*/
  }

  /* .p-gnavi__main-list > a{
    position: relative;
  } */
  
  /* クリックしたら表示される領域 （サブメニュー）*/
  .p-gnavi__sub {
    display: none;
    padding: 2em 1em;
    background-color: #ffccbc;
    text-align: left;
  }

  
  /* ①プラスの横線 */
  /* .p-gnavi__main-list > a:before { */
  .p-gnavi__main-list:before {
    content: "";
    position: absolute;
    /* position: relative; */
    top: 25px;
    /* top: 50%; */
    right: 13px;   /**/
    width: 24px;  /**/
    height: 2px;  /**/
    background: #121212;
    transform: translateY(-50%);
  }
  
  /* ②プラスの縦線 */
  /* .p-gnavi__main-list > a:after { */
  .p-gnavi__main-list:after {
    content: "";
    position: absolute;
    /* position: relative; */
    top: 25px;
    /* top: 50%; */
    /* 8px+12px-1px(幅2pxの半分) */
    right: 24px;  /**/
    width: 2px;   /*線の幅*/
    height: 24px; /*線の高さ*/
    background: #121212;
    transform: translateY(-50%);
    transition: .3s;
  }
  
  /* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
  /* .p-gnavi__main-list.open > a:after { */
  .p-gnavi__main-list.open:after {
    top: 25%;
    opacity: 0;
    transform: rotate(90deg);
  }